[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA X Server Settings
Comment=Configure NVIDIA X Server Settings
Exec=nvidia-settings
Icon=nvidia-settings
Categories=Application;System;
