[Unit]
Description=KDE Display Manager on %I
Requires=dev-%i.device
After=dev-%i.device systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/kdm -nodaemon -error /dev/stdout %I
StandardOutput=syslog
StandardError=syslog

[Install]
Alias=graphical.target.wants/kdm@tty7.service
