[Unit]
Description=mySQL Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/mysqld --defaults-file=/etc/mysql/my.cnf --basedir=/usr --datadir=/var/lib/mysql --pid-file=/var/run/mysqld/mysqld.pid --socket=/var/run/mysqld/mysqld.sock
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/run/mysqld/mysql.pid
Restart=always

[Install]
WantedBy=multi-user.target
