[Unit]
Description=ISC BIND DNS daemon
After=networking.target
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/sbin/named -u named -f
StandardOutput=syslog
StandardError=syslog
Restart=always

[Install]
WantedBy=multi-user.target
