# This file is provided as-is. It may or may not work, but there is at least
# one report that it works: https://bugs.gentoo.org/show_bug.cgi?id=391347

[Unit]
Description=RabbitMQ Messaging server

[Service]
ExecStart=/usr/sbin/rabbitmq-server
ExecStop=/usr/sbin/rabbitmqctl stop

[Install]
Alias=multi-user.target.wants/rabbitmq-server.service
