[Unit]
Description=SASL Authentication Daemon

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/saslauthd
ExecStart=/usr/sbin/saslauthd -a pam
#ExecStart=/usr/sbin/saslauthd ${SASLAUTHD_OPTS}
ExecStop=/bin/kill -15 $MAINPID
PIDFile=/var/lib/sasl2/saslauthd.pid

[Install]
WantedBy=postfix.service
