[Unit]
Description=uptime service
After=local-fs.target

[Service]
Type=forking
ExecStartPre=/usr/sbin/uptimed -b
ExecStart=/usr/sbin/uptimed -p /var/run/uptimed.pid
PIDFile=/var/run/uptimed.pid
StandardOutput=syslog
StandardError=syslog
User=uptimed
Group=uptimed
Restart=always

[Install]
WantedBy=multi-user.target
